body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  background-color: black;
  color: white;
}

#coun {
  overflow: hidden;
}

#title {
  position: absolute;
  top: 150%;
  width: 100%;
  text-align: center;
  font-size: 24;
}

#svgtext {
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

#misimgcontainer {
  position: absolute;
  top: 10%;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 30%;
  opacity: 1;
  pointer-events: none;
  animation: imgin 1s cubic-bezier(.43, .85, .58, 1) 1;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes imgin {
  from {
    opacity: 0;
    top: 20%;
  }

  to {
    opacity: 1;
    top: 10%;
  }
}

#missing {
  width: 30%;
  transform: scale(1);
  opacity: 0;
  animation: misin 1s cubic-bezier(.5, 0, .1, 2) 1;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes misin {
  from {
    transform: scale(0.3);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.behind.init {
  position: relative;
  top: 50%;
  left: -100%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, #f2a935 20%, #261905 80%);
  animation: behin 2s cubic-bezier(.43, .85, .58, 1) 1;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}

.behind.load {
  position: relative;
  top: 50%;
  left: -10%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, #f2a935 20%, #261905 80%);
  animation: bewonder 2s cubic-bezier(.5, .0, .5, 1.0) infinite;
  x animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes behin {
  from {
    opacity: 0;
    left: -100%;
    top: 90%;
    transform: translateY(10%) scale(0);
  }

  to {
    opacity: 1;
    left: -10%;
    top: 50%;
    transform: translateY(-30%) scale(1);
  }
}

@keyframes bewonder {
  from {
    transform: translateY(-30%);
  }

  to {
    transform: translateY(-35%);
  }
}

.front.init {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, #356ff2 20%, #182a53 80%);
  animation: fohin 1s cubic-bezier(.43, .85, .58, 1) 1;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.front.load {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, #356ff2 20%, #182a53 80%);
  animation: fowander 2s cubic-bezier(.5, .0, .5, 1.0) infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

@keyframes fohin {
  from {
    opacity: 0;
    left: 140%;
    top;
    90%;
  }

  to {
    opacity: 1;
    left: 60%;
    top: 60%;
  }
}

@keyframes fowander {
  from {
    top: 60%;
  }

  to {
    top: 65%;
  }
}

#return {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 0%;
  left: 70%;
  text-align: center;
  animation: retin 1s cubic-bezier(.43, .85, .58, 1) 1;
  animation-delay: 0.9s;
  animation-fill-mode: both;
}

#backButton {
  position: absolute;
  display: block;
  top: 20%;
  left: 50%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  /*	background-color: #ffbb6b;*/
  line-height: 90px;
  text-decoration: none;
  color: white;
  z-index: 999;
}

#backButton img {
  image-rendering: auto;
  width: 100%;
  height: 100%;
  animation: turnout 0.5s cubic-bezier(.30, -0.1, .70, 1.1) 1;
}

#backButton h2 {
  position: absolute;
  font-size: 12;
  top: 50%;
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0;
}

#backButton img:hover {
  transform: rotate(23deg);
  animation: turnin 0.5s cubic-bezier(.30, -0.1, .70, 1.1) 1;
}

@keyframes turnin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(23deg);
  }
}

@keyframes turnout {
  from {
    transform: rotate(23deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes retin {
  from {
    opacity: 0;
    height: 0%;
  }

  to {
    opacity: 1;
    height: 30%;
  }
}
