<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <base href="http://dooomino.info/index/">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="css/zh/main.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/anime.min.js"></script>
  <title>半层空间</title>
</head>

<body>
  <div id="main-contain">
    <div id="header" class="heads">
      <h1>半层空间</h1>
      <div class="heads-text">
        <p>
          Hi，我是dooomino，一位想做设计的程序员。
        </p>
        <div id="highlight">
          <img src="image/highlight.png">
        </div>
      </div>
    </div>
    <div id="about" class="heads">
      <h2>关于我</h2>
      <div class="heads-text">
        <p>
          是一位大学第四年CS学生，经常使用python 和 JS, 也会使用C++, JAVA, Processing等编程语言。</p>
        <p><strong>开发环境:</strong></p>
        <p>Java: <u>IntelliJ</u><br /></p>
        <p>JS, Python, C++: <u>Brackets 与 VScode</u></p>

        <br />
        <p><strong>创作环境:</strong></p>
        <p>图像处理:</p>
        <p><u>Adobe Photoshop</u></p>
        <p><u>SAI</u></p>
        <p>UI 绘制: <u>Adobe Illustrator</u></p>

      </div>
    </div>
    <div id="works" class="heads">
      <h2>作品</h2>
      <div class="heads-text">
        <!--
        <div class="workClass type-Codes">
          <h>小型程序作品</h>
        </div>
-->
        <div class="workClass type-Webs">
          <h>网页</h>
        </div>
        <div class="workClass type-Arts">
          <h>绘图</h>
        </div>
      </div>
      <div class="contact-contain" onmouseover="contrExpand()" onmouseout="contrRollup()">
        <div class="contracts-title">
          <h>有任何想法？欢迎联系我。</h>
        </div>
        <div id="contracts">
          <img class="avatar" src="image/head.jpeg">
          <p>Dooomino</p>
          <p>电子邮件（E-mail）: <a href="mailto:tyd19970811@gmail.com">tyd19970811@gmail.com</a></p>
        </div>
      </div>
    </div>
    <div id="gits" class="heads">
      <h2>我的项目</h2>
      <ul></ul>
    </div>
  </div>
  <div id="fixed-cont">
    <a href="javascript:;" onclick="toggleBars()">
      <div id="icon-back">
        <i class="fas fa-bars"></i>
      </div>
    </a>
    <div id="left-contain">
      <ul id="menus">
        <li class="logo">
          <img src="favicon - inv.png" />
        </li>
        <a href="views/zh/index.html#header" onclick="goto(this)">
          <li class="menu menu0">首页</li>
        </a>
        <hr />
        <a href="views/zh/index.html#about" onclick="goto(this)">
          <li class="menu menu1">关于我</li>
        </a>
        <a href="views/zh/index.html#works" onclick="goto(this)">
          <li class="menu menu2">作品</li>
        </a>
        <a href="views/zh/index.html#gits" onclick="goto(this)">
          <li class="menu menu3">项目</li>
        </a>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="js/home.js"></script>
</body></html>
