@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
#avatar{
    position: relative;
    top:0%;     
    left: 0%;
    width: 20%;
    border-radius: 50%;
    margin: 30px 0;
    animation: avain 1s cubic-bezier(0, 1.00, 0.65, 1.00) 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes avain{
    0%{
        top:-100%;
        opacity: 0;
    }
    100%{
        top:0;
        opacity: 1;
    }
}
@keyframes wordsin{
    0%{
        top:100%;
        opacity: 0;
    }
    100%{
        top:0;
        opacity: 1;
    }
}

#namecard{
    position: absolute;
    top:20%;
    left: 0;
    width: 50%;
    height: 40%;
    margin: 0 10px;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    line-height: 300%;
}

.words{
    position: absolute;
    color: wheat;
    font-size: 32;
    font-weight: 600;
    margin: 50px 0;
    top: 30%;
    left: 25%;
    right: 0;
    bottom: 0;    
    animation: wordsin 1s cubic-bezier(0, 1.00, 0.65, 1.00) 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.words .QRd{
    margin: 0px 0px;
    width: 14rem;
}
.words>p{
    margin: 0px 0px;
}

.QRd>a{
    font-size: 28px; 
    font-weight: 600; 
    color: #ff8966; 
    background-color:#a9d2d5;
    width: 50%; 
    border-radius: 30%;
}

.QR{
    position: absolute;
    display: none;
    animation: QRin 0.5s cubic-bezier(0, 1.00, 0.65, 1.00) 1;
}
#breakerUnd{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #ff9d60;
    animation: breakerin 1s cubic-bezier(0, 1.00, 0.65, 1.00) 1;
    animation-fill-mode: forwards;
} 
@keyframes breakerin{
    0%{
        opacity: 0;
        transform: translate(100%,0);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);

    }
}

.logoli{
    list-style: none;
    position: relative;
    margin: 10px 10px;
}

.logoli:hover{
    animation: splogo 1s cubic-bezier(0, 2.00, 0.65, 1.00) 1;
}

@keyframes splogo{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@keyframes inbrka{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logos{
    position: absolute;
    top:30%;
    z-index: 999;
}

.email{
    text-decoration: none;
    color: #50d0ff;
}
.email:hover{
    color: #ff7f50;
    animation: emailcolor 3s cubic-bezier(0, 2.00, 0.65, 1.00) 1;
}

@keyframes emailcolor{
    0%{
        color: #50d0ff;
    }
    100%{
        color: #ff7f50;

    }
}

#num{
    margin: 0 0;
    display: none;
    animation: numin 1s cubic-bezier(0, 1.00, 0.65, 1.00) 1;
}
@keyframes QRin{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}
@keyframes numin{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.QRd:hover{
    background-color: #947eb0;
}

