@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

#whole{
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 99999;
    width: 100%;
    height: 100%;
}

#loading{
    position: absolute;
    background-color: #7f7f7f;
    z-index: 99999;
    width: 100%;
    height: 100%;
}
.loadingout{
/*    opacity:0;*/
    animation-play-state: paused;
    animation: loadingouta 1s cubic-bezier(.22,.87,.33,1.22) 1;
}

@keyframes loadingouta{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

#processbar{
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: #8fefad;
    z-index: 99999;
    width: 59%;
    height: 2%;
    animation: inprocess 3s cubic-bezier(.79, .47, .91, 1.07) 1;
}
#processbarUn{
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: #555555;
    z-index: 99999;
    width: 60%;
    height: 2%;
}

@keyframes inprocess{
    0%{width:0%}
    100%{width:59%}
}


.subcontain{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80%;
    display: block;
    background-color: black;
    transform: translate(0%,-10%);
    animation: incont 1s cubic-bezier(.22,.87,.33,1.22) 1;
}



@keyframes incont{
    0%{
        top:-90%;
    }
    100%{
        top:0%;
    }
}


body{
    margin: 0 0; 
}




.menu a{
    display:block;
    width: 130px;
    height: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 100%;
    background-color: #666cdb;
    margin: 0px 0px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}
.menu a:hover{
    height: 50px;
    animation-fill-mode: forwards;
    background-color: #8a8dc1;
    animation: hoverin 5s cubic-bezier(.1,.86,.72,.86) 1; 
}

.menu li{
    list-style-type: none;
    float: left;
    position: relative;
    top: 130px;
    width: auto;
    height: 50px;
    animation-fill-mode: forwards;
    animation: menuin 1s cubic-bezier(.22,.87,.33,1.22) 1; 
}

@keyframes hoverin{
    0%{
        opacity: 0;
        background-color: #4442c1;
    }
    20%{
        opacity: 0.8;
    }
    40%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.2;
    }
    70%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
        background-color: #8a8dc1;
    }
    
}

@keyframes menuin{
    from{
        color: #37398f;
        opacity: 0;
    }
    to{
        color:white;
        opacity: 1;
    }
}


.menu>li:nth-child(0){
    animation-delay: 1.2s;
}
.menu>li:nth-child(2){
    animation-delay: 1.4s;
}
.menu>li:nth-child(3){
    animation-delay: 1.6s;
}
.menu>li:nth-child(4){
    animation-delay: 1.8s;
}

.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: auto;
    padding: 0px;
}

#menu{
    position: fixed;
    text-align: center;
    float: left;
    top:0;
    left: 0;
    width: 100%;
    height:200px;
    background-color: #666cdb;
    transform: translate(0,-140px);
    animation: barin 1s cubic-bezier(.22,.87,.33,1.22) 1;  /*bounce*/
}

@keyframes barin{
    0%{
        top:-100%;
    }
    100%{
        top:0;
    }
    
}


#subtitle{
    text-align: center;
    position: relative;
    top:70%;
    left: 0;
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    color: white;
}


.animate {
			display: inline-block;
			padding: 0 5px;
			vertical-align: 3px;
			font-size: 20px;
			font-weight: normal;
		}
		
.animate.on {
    animation: fade 1.5s infinite forwards;
}
		
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#pages  { 
    position: relative; 
    overflow: hidden;
    top:0;
    width: 100%; 
    max-width: 100%; 
    height: 100%;
    margin: 0 auto;
}
.page  { 
    position: absolute; 
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
}


