.contact-contain{
    background-image: url("../../../images/cover.webp");
    min-height: 80%;
}

.contact{
    height: 80%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    animation: contact-in 1s ease-in-out 1;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.avatar{
    width:40%;
    border-radius: 50%;
    margin: 5% 0;
}

.mail{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}