<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <base href="http://dooomino.info/index/">
  <!--  <base href="/">-->
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="css/en/main.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/anime.min.js"></script>
  <title>Dooomino's Half Floor Space</title>
</head>

<body>
  <div id="main-contain">
    <div id="header" class="heads">
      <h1>Half Floor Space</h1>
      <div class="heads-text">
        <p>
          I am the rain that falls down when night came. Sooner or later, at the time of sunrise, we will disappeared in the middle of air.
        </p>
        <div id="highlight" class="" src="image/highlight.png">
        </div>
      </div>
    </div>
    <div id="about" class="heads">
      <h2>About me</h2>
      <div class="heads-text">
        <p>
          I am a fourth-year university CS student. Usualy Coding in javascript, python, I can also code in C++, Java, Processing.</p>
        <p><strong>Development Environment:</strong></p>
        <p>Java: <u>IntelliJ</u><br /></p>
        <p>JS, Python, C++: <u>Text editors(Primary Brackets &amp; VScode)</u></p>

        <br />
        <p><strong>Creating Environment:</strong></p>
        <p>Picture editing:</p>
        <p><u>Adobe Photoshop</u></p>
        <p><u>SAI</u></p>
        <p>UI creating: <u>Adobe Illustrator</u></p>

      </div>
    </div>
    <div id="works" class="heads">
      <h2>Works</h2>
      <div class="heads-text">
        <!--
        <div class="workClass type-Codes">
          <h>Codes</h>
        </div>
-->
        <div class="workClass type-Webs">
          <h>Webs</h>
        </div>
        <div class="workClass type-Arts">
          <h>Arts</h>
        </div>
      </div>
      <div class="contact-contain" onmouseover="contrExpand()" onmouseout="contrRollup()">
        <div class="contracts-title">
          <h>Got Ideas? No problem, just tell me.</h>
        </div>
        <div id="contracts">
          <img class="avatar" src="image/head.jpeg">
          <p>Dooomino</p>
          <p>Email: <a href="mailto:tyd19970811@gmail.com">tyd19970811@gmail.com</a></p>
        </div>
      </div>
    </div>
    <div id="gits" class="heads">
      <h2>My Projects</h2>
      <ul></ul>
    </div>
  </div>
  <div id="fixed-cont">
    <a href="javascript:;" onclick="toggleBars()">
      <div id="icon-back">
        <i class="fas fa-bars"></i>
      </div>
    </a>
    <div id="left-contain">
      <ul id="menus">
        <li class="logo">
          <img src="favicon - inv.png" />
        </li>
        <a href="views/en/index.html#header" onclick="goto(this)">
          <li class="menu menu0">Dooomino</li>
        </a>
        <hr />
        <a href="views/en/index.html#about" onclick="goto(this)">
          <li class="menu menu1">About Me</li>
        </a>
        <a href="views/en/index.html#works" onclick="goto(this)">
          <li class="menu menu2">My Works</li>
        </a>
        <a href="views/en/index.html#gits" onclick="goto(this)">
          <li class="menu menu3">My Projects</li>
        </a>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="js/home.js"></script>
</body>

</html>
