.about-contain{
  background-image: url("../../../images/cover.jpg");
  overflow-y: hidden;
  min-height: 120%;
}

/* About */
.about-contain div{
  background-color: rgba(0,0,0,0.5);
  min-height: 100%;
}

.page-btn{
  animation: smooth-in 1s ease-in-out 1;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.about{
  padding: 5% 0;
  text-align: center;
}

.about h1{
  text-align: center;
  width: 100%;
  animation: smooth-in 1s ease-in-out 1;
}

.about h2{
  width: 100%;
  font-size: x-large;
  text-align: center;
  font-weight: normal;
  animation: smooth-in 1s ease-in-out 1;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  padding: 0 0 2%;
}

table{
  width: 100%;
  font-size: large;
}

th{
  font-weight: lighter;
  text-align: right;
  border-right: 2px solid white;
}

th,td{
  width: 50%;
  padding: 1% 2% ;
}

.sk-row{
  text-align: center;
}

.skill-contain{
  margin: 2% 0 0 ;
}

.skill .row{
  display: inline-flex;
}

.skill h1{
  width: 100%;
  text-align: center;
  animation: smooth-in 1s ease-in-out 1;
}

tr{
  animation: smooth-in 1s ease-in-out 1;
  animation-fill-mode: both;
}

.sk-head{
  animation: smooth-in 1s ease-in-out 1;
  animation-delay: calc(var(--order) * 0.1s);
  animation-fill-mode: both;
}

.sk-itm{
  animation: smooth-in 1s ease-in-out 1;
  animation-delay: calc(var(--order) * 0.1s);
  animation-fill-mode: both;
}

