/*
$color1: rgba(201, 222, 214, 1);
$color2: rgba(132, 172, 206, 1);
$color3: rgba(126, 189, 195, 1);
$color4: rgba(6, 141, 157, 1);
$color5: rgba(70, 70, 85, 1);
*/


/*Details*/

/*Left bar*/
.logo {
  text-align: center;
}

.logo img {
  width: 80%;
}

#icon-back {
  z-index: 999;
  position: absolute;
  display: flex;
  background-color: black;
  width: 6vh;
  height: 6vh;
  left: 2vw;
  top: 1vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: 50%;
  animation: menu-but-close 0.6s cubic-bezier(.3, .6, .6, 1) 1;

}

#icon-back.active {
  left: 16vw;
  animation: menu-but-open 0.6s cubic-bezier(.3, .6, .6, 1) 1;
}

#icon-back > .fas {
  position: relative;
  left: 0;
  color: white;
  width: 100%;
  height: 10vh;
  line-height: 10vh;
}

#fixed-cont {
  display: inline-block;
  z-index: 0;
  position: fixed;
  /*  width: 100%;*/
  height: 100%;
  left: 0;
  top: 0;
}

#left-contain {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0vw;
  background-color: #0A1D55;
  overflow: hidden;
  animation: menu-cont-close 0.5s cubic-bezier(.3, .6, .6, 1) 1;
}

#left-contain.active {
  width: 20vw;
  animation: menu-cont-open 0.5s cubic-bezier(.3, .6, .6, 1) 1;
}

#menus {
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
  width: 50%;
  top: 30%;
  margin: 0;
  text-shadow: 1px 1px 1px black;
}

.menu {
  position: relative;
  margin: 1rem 0;
  font-size: 1.5vw;
  text-align: center;
}

li.menu0 {
  font-size: 2vw;
}

/*Main*/

#header {
  color: white;
  background-color: black;
}

#header h1 {
  margin-top: 0;
  padding: 2em 0 0 0;
  font-size: 8vh;
}

#highlight {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#header p {
  font-size: 5vh;
}

#highlight img {
  object-fit: cover;
  width: 100%;
}

.heads {
  position: relative;
  width: 100%;
  min-height: 80%;
  text-align: center;
}

.heads-line {
  position: relative;
  width: 1vw;
  height: 0vh;
  background-color: black;
  animation: line-out 0.5s cubic-bezier(.3, .6, .6, 1) 1;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

#header .heads-line {
  background-color: white;
}

.heads h2 {
  font-size: 5vw;
}

.heads-line.active {
  width: 10vw;
  height: 1vh;
  animation: line-in 0.5s cubic-bezier(.3, .6, .6, 1) 1;
  animation-fill-mode: both;
  animation-delay: 1.9s;
}

.heads-text {
  position: relative;
  left: 0;
  width: 100%;
  font-size: 3vh;
  align-content: center;
  text-align: center;
  height: auto;
  min-height: 100vh;
}

.heads-text p {
  position: relative;
  width: 80%;
  margin: 10px 10%;
  border-radius: 10px;
  text-align: left;
}

#main-contain {
  z-index: 0;
  position: absolute;
  left: 0vw;
  width: 100%;
  animation: main-cont-close 0.5s cubic-bezier(.3, .6, .6, 1) 1;
}

#main-contain.active {
  left: 20vw;
  animation: main-cont-open 0.5s cubic-bezier(.3, .6, .6, 1) 1;
}


/*Work*/
.workClass {
  position: relative;
  width: 100%;
  min-height: 20vh;
  animation: workClass-fade-out 1s cubic-bezier(.3, .1, .6, 1) 1;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.workClass h {
  margin: 0;
  font-size: 4vh;
  line-height: 20vh;
}

.workClass:hover {
  animation: workClass-fade-in 0.5s cubic-bezier(.3, 1, .6, 1) 1;
  animation-fill-mode: both;
  animation-direction: alternate;
}

/*contracts*/
.contracts-title {
  background-color: #3040ff;
  width: 100%;
  min-height: 20vh;
}

.contracts-title h {
  color: white;
  font-size: 5vh;
  line-height: 20vh;
  margin: 0;
}

#contracts {
  background-color: #3040ff;
  height: 0vh;
  width: 100%;
  overflow: hidden;
  animation: ctr-rollup 1s cubic-bezier(.5, 1.0, .5, 1.0) 1;
  margin-bottom: 40vh
}

#contracts p {
  color: white;
  font-size: 4vh;
}

#contracts .avatar {
  border-radius: 50%;
  border: 2px solid white;
}

#contracts.expand {
  height: 40vh;
  animation: ctr-exp 1s cubic-bezier(.0, .75, .6, 1) 1;
}

/*Gits*/
#gits {
  min-height: 100vh;
  color: #ffffff;
  background-color: #272727;
}

#gits ul {
  padding: 0;
  margin: 0;
}

#gits .heads-line {
  background-color: white;
}

.repos {
  padding: 0;
  font-size: 2vw;
}

.repos li {
  margin: 5vh 40vh;
  border-bottom: solid 2px white;
}

#gits p {
  font-size: 1.5vw;
}

/*Animations*/

@keyframes menu-but-open {
  from {
    left: 2vw;
  }

  to {
    left: 16vw;
  }
}

@keyframes menu-but-close {
  from {
    left: 16vw;
  }

  to {
    left: 2vw;
  }
}

@keyframes menu-cont-open {
  from {
    width: 0vw;
  }

  to {
    width: 20vw;
  }
}


@keyframes menu-cont-close {
  from {
    width: 20vw;
  }

  to {
    width: 0vw;
  }
}

@keyframes main-cont-open {
  from {
    left: 0vw;
  }

  to {
    left: 20vw;
  }
}

@keyframes main-cont-close {
  from {
    left: 20vw;
  }

  to {
    left: 0vw;
  }
}

@keyframes workClass-fade-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.95);
  }
}

@keyframes workClass-fade-out {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}


@keyframes line-in {
  from {
    width: 1vw;
    height: 0vh;
  }

  to {
    width: 10vw;
    height: 1vh;
  }
}

@keyframes line-out {
  from {
    width: 10vw;
    height: 1vh;
  }

  to {
    width: 1vw;
    height: 0vh;
  }
}

@keyframes ctr-exp {
  from {
    height: 0vh;
  }

  to {
    height: 40vh;
  }
}

@keyframes ctr-rollup {
  from {
    height: 40vh;
  }

  to {
    height: 0vh;
  }
}
