@keyframes header-title-in {
  from{
    transform: translateX(-30%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes footer-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes nav-in {
  from{
    transform: translateX(-50%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}